h1 {
    color: #e60000;
}

table {
    background-color: #e9dbc8;
}

.container {
    /* height: 800px;
    width: 800px; */
    position: relative;
}

#reliefMapChina {
    position: absolute;
    left: 0;
    top: 0;
    float: right;
    width: 800px;
}

#gobiDesertLabel {
    font-family: "Comic Sans MS", cursive, sans-serif;
    position: absolute;
    top: 150px;
    left: 470px;
    z-index: 2;
    -webkit-transform: rotate(-20deg);
    /* Chrome, Safari, Opera */
}

#tibetanPlateauLabel {
    font-family: "Comic Sans MS", cursive, sans-serif;
    position: absolute;
    top: 680px;
    left: 888px;
    z-index: 2;
}

#tarimBasinLabel {
    font-family: "Comic Sans MS", cursive, sans-serif;
    position: absolute;
    top: 560px;
    left: 858px;
    z-index: 2;
    -webkit-transform: rotate(+18deg);
}

#junggarBasinLabel {
    font-family: "Comic Sans MS", cursive, sans-serif;
    position: absolute;
    top: 515px;
    left: 880px;
    z-index: 2;
    -webkit-transform: rotate(+38deg);
}

#sichuanBasinLabel {
    font-family: "Comic Sans MS", cursive, sans-serif;
    position: absolute;
    top: 815px;
    left: 1100px;
    z-index: 2;
}

#quaidamBasinLabel {
    font-family: "Comic Sans MS", cursive, sans-serif;
    position: absolute;
    top: 600px;
    left: 1000px;
    z-index: 2;
    -webkit-transform: rotate(+20deg);
}

#taklimakanDesertLabel {
    font-family: "Comic Sans MS", cursive, sans-serif;
    position: absolute;
    top: 600px;
    left: 1000px;
}